.banner {
  width: 100%;
  background-color: var(--banner-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  font-weight: 600;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  height: 25px;
  border-bottom: 1px solid var(--border-color);
}

.banner-left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo {
  height: 34px;
  width: 34px;
  border-radius: 50%;
}

.greeting {
  font-size: 1rem;
  color: var(--text-primary);
}

.sidebar-toggle-btn {
  background: none;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  color: var(--text-primary);
}

.sidebar-toggle-btn:hover {
  background-color: var(--hover-color);
  color: var(--sb-hover-color);
}